.intro-text span{
    color: #d42819;
}
.page-item.active .page-link{
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
}
.page-link:active, .page-link:focus{
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}